<style>
    a{
        text-decoration: none;
    }
</style>


<div class="list-group">
    <a href="/admin" ><div class="list-group-item">HOME</div></a>
    <a href="/addproduct" ><div class="list-group-item">ADD PRODUCT</div></a>
    <a href="/viewdata">  <div class="list-group-item"> VIEW PRODUCT</div></a>
    <a href="/viewcategory"> <div class="list-group-item">Category</div></a>
   
     
 </div>