 <head>
    <style>
    header{
        height: 500px;
        background:linear-gradient(to right,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
        url(/static/images/carbanner2.jpg);
        background-position:center;
        background-size: cover;
    }
   
</style>
 </head>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <%- include('./header.ejs') %>
            </div></div>
            <header class="text-light">
                <div class="container d-flex h-100">
                  <div class="row m-0 w-100">
          
                    <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center ">
                      <div class=" p-5">
                        <p class="h1 mb-5">From Rent Only
                          <span class="text-warning">Rs.499</span>/day<br>
                         Drive you Dream Car
                        </p>
          
                        <a class="btn btn-outline-warning btn-lg ni" type="button" href="/login">Join
                          now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </header>
        </div>
<div class="conatiner">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            
        </div>

    </div>
</div>
<div class="conatiner mt-1 bg-dark text-light">
  <h3 class="text-center">Book your Car</h3>
  <div class="p-5 ms-auto d-flex justify-content-end">
    <div class="me-auto">Book your Fun Ride</div>
    <select id="LocationTag">
      <option>Select Location</option>
      <option value="Delhi">Delhi</option>
      <option value="Haryana">Haryana</option>
    </select>
  <input type="date" id="formdate" class="p-1 ">
  <input type="date" id="todate" class="p-1">
  <button type="button" class="btn btn-outline-warning" id="SearchCar">Search</button>
  </div>
</div>


<script src="/static/js/index.js"></script> 