 <link href="/static/css/index.css" rel="stylesheet"
    <div class="container-fluid">
  
           
                <%- include('./common/header.ejs') %>

            <header class="text-light">
                <div class="container d-flex h-100">
                  <div class="row m-0 w-100">
          
                    <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center ">
                      <div class=" p-5">
                        <p class="h1 mb-5">From Rent Only
                          <span class="text-warning">Rs.499</span>/day<br>
                         Drive you Dream Car
                        </p>
          
                        <a class="btn btn-outline-warning btn-lg ni" type="button" href="/login">Join
                          now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </header>
        </div>
<div class="conatiner">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            
        </div>

    </div>
</div>
<div class="conatiner mt-1 bg-dark text-light">
  <h3 class="text-center">Book your Car</h3>
  <div class="p-5 ms-auto d-flex justify-content-end">
    <div class="me-auto">Book your Fun Ride</div>
    <select id="LocationTag">
      <option>Select Location</option>
      <option value="Delhi">Delhi</option>
      <option value="Haryana">Haryana</option>
    </select>
  <input type="date" id="formdate" class="p-1 ">
  <input type="date" id="todate" class="p-1">
  <button type="button" class="btn btn-outline-warning" id="SearchCar">Search</button>
  </div>
</div>


<!-- <div class="conatiner">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card 1</h5>
          <p class="card-text">This is a description for card 1.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card 2</h5>
          <p class="card-text">This is a description for card 2.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card 3</h5>
          <p class="card-text">This is a description for card 3.</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card 1</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card 2</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card 3</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="gg">

  <button class="clickclass">button</button>
<span class="data this" src="/static/images/carbanner2.jpg" img-data="1" id="xyz"></span>
</div>



<script>
  $(document).on('click', '.clickclass', function() {

    let element=document.getElementById('xyz');
    
    console.log(element)
    console.log(element.toString())
    console.log(JSON.stringify(element))
  //   document.querySelector('.gg')
  //  const spandata = $(this).closest('.gg');

  // console.log(JSON.stringify(spandata))
  // //   const gg = $('<img>').addClass('data'); 
  // // console.log($(this).closest('.gg').find('span'),'dd')
  // console.log(this,'mm')

  //   $(this).closest('.gg').find('span').replaceWith (function(i,content){ 
  //   return "<img>" + content + " " ;
// });
    // $.each(spandata[0].attributes, function() {
    //   gg.attr(this.name, this.value);
    // });

    // spandata.replaceWith(gg);
    // console.log(gg, 'imagedata');
  });

  // $(document).on('click', '.clickclass', function() {
  //   var ggContainer = $(this).closest('.gg');
  //   ggContainer.find('.data').each(function() {
  //     var pp = $(this);
  //     var imagedata = $('<img>').addClass('data');

  //     $.each(pp[0].attributes, function() {
  //       imagedata.attr(this.name, this.value);
  //     });

  //     pp.replaceWith(imagedata);
  //     console.log(imagedata, 'imagedata');
  //   });
  // });

  </script>
<script src="/static/js/index.js"></script> 