<%-include('./common/header')%>
    <h1>Reset Password</h1>

  
      <label for="password">Enter Your Email Or Number</label>
<input type="text" id="Check_Data">
      <button type="submit" id="sub">Submit</button>

<script>

document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('sub').addEventListener('click', function() {
     
        document.getElementById('Check_Data').disabled = true;
        var data = document.getElementById('Check_Data').value;

      
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/checkData', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.exists) {
                    
    var div = document.createElement('div');
    

    var select = document.createElement('select');
    select.name = 'method';

 
    var optionOTP = document.createElement('option');
    optionOTP.text = 'OTP';
    select.add(optionOTP);

  
    var optionEmail = document.createElement('option');
    optionEmail.text = 'Email';
    select.add(optionEmail);

    div.appendChild(select);

    document.body.appendChild(div);
                        
                    } else {
                        alert('Data does not exist in the database!');
                    }
                } else {
                    alert('Error: ' + xhr.statusText);
                document.getElementById('Check_Data').disabled = false;

                }
          
            }
        };
        xhr.send(JSON.stringify({ data: data }));
    });
});

    </script>
